# Ignore environment variables
.env
lunex-452314-801953268973.json

# Ignore node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore logs
logs
*.log
logs/**/*.log

# Ignore build artifacts
dist/
build/
